.team-header {
    background-image: url(../../images/header-banner.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: rgb(39 36 36 / 72%);
    background-blend-mode: multiply;
    
}
.team-header h1 {
    color: #fff;
}
.team-badge {
    display: flex;
    align-items: center;
    min-height: 250px;
    justify-content: center;
}
.team-badge img {
    width: 150px;
}