@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.team-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: rgb(39 36 36 / 60%);
  /* background-color: #0e0a2b; */
  background-blend-mode: multiply;
}
.team-header h1 {
  color: #fff;
}
.team-badge {
  display: flex;
  align-items: center;
  min-height: 260px;
  justify-content: center;
}
.team-badge img {
  width: 180px;
}
