main.main-section {
    background-image: linear-gradient(to left, #c31432, #240b36)
}

.main-container {
    min-height: 500px;
}
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container .spinner-border {
    width: 6rem;
    height: 6rem;
}